<h1>Welcome to the wedding Planner</h1>
<h1>Hello @ViewBag.User.FirstName</h1>
<hr>
<table class ="table table-hover">
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest</th>
            <th>Action</th>
        </tr>
        @{
            foreach(Wedding u in ViewBag.AllWeddings)
            {
                <tr>
                    <td><a href="/onewedding/@u.WeddingID">@u.WedderOne  &  @u.WedderTwo</a></td>
                    <td>@u.Date</td>
                    <td>@u.GuestList.Count</td>
                    @if(@u.Planner.UserID == @ViewBag.User.UserID)
                        {
                            <td><a href="/delete/@u.WeddingID">YEETUS DELETEUS</a></td>
                        }
                    else{
                        if(u.GuestList.Any(r => r.UserID == @ViewBag.User.UserID))
                        {
                            <td><a href="/unrsvp/@u.WeddingID/@ViewBag.User.UserID">UnRSVP</a></td>
                        }
                        else{
                        <td><a href="/rsvp/@u.WeddingID/@ViewBag.User.UserID">RSVP</a></td>
                        }
                    }
                    }
                </tr>
            }
        }
</table>
<br>
<h2><a href="/Weddings">New Wedding</a></h2>